---
name: digesta bot

"on":
  workflow_dispatch:
  schedule:
    - cron: "0 1 1 * *"

jobs:
  image-update:
    name: image digest update
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: chainguard-dev/digestabot@a110b65f3d4742d56b5b2b2306de6e2e54306724
        with:
          title-for-pr: 'build(Dockerfile): bump python latest tag digest'
          commit-message: 'build(Dockerfile): bump python latest tag digest'
          labels-for-pr: dependencies, docker
          token: ${{ secrets.GITHUB_TOKEN }}
